<div class="phone:hidden">
  <div class="sticky top-0 w-[250px] tablet:w-full overflow-scroll h-[100vh] pr-4">
    <div class="flex items-center justify-between mb-[30px] mt-10">
      <p class="text-[18px] text-content">Short By:</p>
      <form action="" method="get">
        <div class="">
          <select
            class="w-[160px] h-[50px] bg-white border-[1px] border-solid border-gray-300 p-[10px] text-[16px]"
            name="sort_by"
            id="orderby"
            onchange="this.form.submit()"
          >
            <option value="TITLE">Default Sorting</option>
            <option value="best-selling">Best Selling</option>
            <option value="title-ascending">Alphabetically, A-Z</option>
            <option value="title-descendings">Alphabetically, Z-A</option>
            <option value="created-ascending">Sort by newness</option>
            <option value="price-ascending">Sort by price: low to high</option>
            <option value="price-descending">Sort by price: high to low</option>
          </select>
        </div>
      </form>
    </div>
    <div class="mb-10">
      {% for link in section.settings.sidebar_menu.links %}
        <h3 class="font-bold text-content filterTitle !text-[20px] py-3">{{ link.title }}</h3>
        {% if link.links.size > 0 %}
          <ul class="pl-5 mt-2">
            {% for child_link in link.links %}
              <li class="mb-3 cursor-pointer">
                <a href="{{ child_link.url }}" class="font-bold hover:text-primary">{{ child_link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}

      <form class="">
        {%- for filter in collection.filters -%}
          <h3>{{ filter.label }}</h3>
          {%- case filter.type -%}
            {%- when 'price_range' -%}
              <h3>Filter By Price</h3>
              <div class="mt-5">
                <h3 class="font-bold text-content filterTitle !text-[20px]">Price</h3>
                <div class="productFilterRadio pb-[25px] text-[16px] font-light">
                  <div class=" flex justify-between items-center">
                    <label for="huey2">Min($0)</label
                    ><label for="huey2"
                      >Max ({{ cart.currency.symbol -}}
                      {{- filter.range_max | money_without_currency | replace: ',', '' }})</label
                    >
                  </div>
                  <input
                    class="w-full"
                    type="range"
                    id="priceSlider"
                    name="drone"
                    min="0"
                    step="1"
                    value="99.99"
                  >
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </form>
    </div>
  </div>
</div>
