<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #ea5329;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #ea5329;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  .notValid {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
</style>

<form action="/cart" method="post" id="cartUpdate" novalidate>
  <div class="bg-[url('/assets/images/bg-right.svg')] bg-no-repeat bg-right-bottom py-[80px] laptop:px-4 overflow-x-auto tablet:px-4">
    <div class="container m-auto tablet:px-3">
      <div class="flex flex-col flex-nowrap overflow-x-scroll min-w-max">
        <h2 class="section-title mb-10">Added to cart</h2>
        <div class="grid grid-cols-5 items-center justify-between border-[1px] border-r-[1px] border-primary w-full gap-4 text-center">
          <div class=" py-4"><h3 class="section-content">Product</h3></div>
          <div class=" py-4"><h3 class="section-content">Name</h3></div>
          <div class=" py-4"><h3 class="section-content">Quantity</h3></div>
          <div class=" py-4"><h3 class="section-content">Price</h3></div>
          {% comment %} <div class=" py-4 w-[245px]"><h3 class="section-content">Delivery Date</h3></div> {% endcomment %}
          {% comment %} <div class=" py-4 w-full flex-1"><h3 class="section-content">Gift Message</h3></div> {% endcomment %}
          <div class=" py-4"><h3 class="section-content"></h3></div>
        </div>

        <div>
          {% if cart.item_count != 0 %}
            {% for item in cart.items %}
              <div class="items-stretch border-l-[1px] border-r-[1px] border-primary">
                <form action="" id="myForm">
                  <div class="grid grid-cols-5 items-center gap-4 text-center justify-between">
                    <div class="border-primary border-separate py-4 items-center">
                      <div class="pl-8 tablet:pr-2">
                        <img
                          src="{{ item | img_url: '' }}"
                          alt="product"
                          width="100"
                          height="100"
                        >
                      </div>
                    </div>
                    <div class="border-primary border-separate py-4 items-center flex">
                      <h3 class="section-content w-full text-center">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                      </h3>
                    </div>
                    <input
                      type="hidden"
                      name="line"
                      value="{{ item.id }}"
                    >
                    <div class="border-primary border-separate py-4 flex items-center">
                      <h3 class="section-content w-full text-center">
                        <div
                          class="w-[185px] flex items-center border-[1px] border-[#FFF3EF] text-center cart-item m-auto"
                          data-id="{{ item.id }}"
                        >
                          <span
                            onclick="updateQty({{ forloop.index }}, {{ item.quantity | minus: 1 }})"
                            class="w-[60px] text-[30px] cursor-pointer decrease-btn"
                            >-</span
                          ><input
                            class="w-[60px] h-[50px] text-center quantity quantity-{{forloop.index}}"
                            type="number"
                            min="0"
                            name="quantity"
                            placeholder="1"
                            value="{{ item.quantity }}"
                            onkeyup="updateQty({{ forloop.index }})"

                          ><span
                            onclick="updateQty({{ forloop.index }}, {{ item.quantity | plus: 1 }})"
                            class="w-[60px] text-[23px] cursor-pointer increase-btn"
                            >+</span
                          >
                        </div>
                      </h3>
                    </div>
                    <div class="border-primary border-separate py-4 flex items-center ">
                      <h3 class="section-content w-full text-center">{{ item.price | money }}</h3>
                    </div>
                    {% comment %}
                      <div>
                        <div class="border-primary border-separate flex items-center w-full">
                          <input
                            required
                            class="h-[50px] text-center border-[1px] border-primary focus:outline-none rounded-md text-[16px] w-full date-picker date-{{forloop.index}}"
                            name="properties[DeliveryDate]"
                            placeholder="* DD/MM/YYYY"
                            type="date"
                            id="date-picker"
                            data-id="{{ item.id }}"
                            value="{{ DeliveryDate }}"
                            onchange="changeCart({{ forloop.index }})"
                          >
                        </div>
                        <div class="mb-[5px] pt-2">
                          <div class="flex items-center justify-between mb-2">
                            <p class="text-center mr-2">Shipping to someone else?</p>
                            <label class="switch">
                              <input
                                type="checkbox"
                                {% if RecipientsNumber != blank %}
                                  checked
                                {% endif %}
                              >
                              <span class="slider round"></span>
                            </label>
                          </div>

                          <strong
                            class="swichBox"
                            style="
                              {% if RecipientsNumber != blank %}
                                display: block;
                                {% else %}
                                display: none
                              {% endif %};
                            "
                          >
                            <input
                              required
                              name="properties[RecipientsNumber]"
                              type="text"
                              placeholder="* Recipients Phone"
                              class="border-primary border-[1px] focus:outline-none rounded-md px-3 w-full h-[50px] text-center font-normal phone-{{forloop.index}}"
                              value="{{ RecipientsNumber }}"
                              onkeyup="changeCart({{ forloop.index }})"
                            >
                          </strong>
                        </div>
                      </div>
                    {% endcomment %}
                    {% comment %}
                      <div class="border-primary border-separate py-4 flex items-center w-[100%] flex-1">
                        <textarea
                          name="giftMessage"
                          rows="6"
                          class=" border-[1px] border-primary focus:outline-none rounded-md px-3 w-full message-{{forloop.index}}"
                          placeholder="Type your gift message here..."
                          onchange="changeCart({{ forloop.index }})"
                        >{{ giftMessage }}</textarea>
                      </div>
                    {% endcomment %}
                    <div
                      class="border-primary border-separate py-4 w-[70px] flex items-center justify-center gap-5 m-auto removeProduct"
                      data-line="{{ forloop.index }}"
                    >
                      <h3 class="section-content">
                        <div class="flex items-center gap-5 removeProduct">
                          <svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 24 24"
                            class="cursor-pointer"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g><path fill="none" d="M0 0h24v24H0z"></path><path d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8zm2 2v10h12V10H6zm3 2h2v6H9v-6zm4 0h2v6h-2v-6zM7 5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5zm2-1v1h6V4H9z"></path></g>
                          </svg>
                        </div>
                      </h3>
                    </div>
                  </div>
                  <div class=" border-b-[1px] border-primary px-8">
                    <div class="flex justify-between items-center gap-3 mb-3">
                      <div class="gap-4 w-[50%]"><div class="w-full relative"></div></div>
                      <div class="flex"></div>
                    </div>
                  </div>
                </form>
              </div>
            {% endfor %}
          {% else %}
            <h2 class="mt-5 text-secondary content font-bold text-center py-5">Cart is empty!</h2>
          {% endif %}
        </div>

        {% if cart.item_count != 0 %}
          <div class="items-stretch border-l-[1px] border-r-[1px] border-t-[1px] border-primary mt-[50px]">
            {% assign DeliveryDate = cart.attributes.DeliveryDate %}
            {% assign RecipientsNumber = cart.attributes.RecipientsNumber %}
            {% assign GiftMessage = cart.attributes.GiftMessage %}
            <div class="p-[50px] grid grid-cols-2 gap-[20px] items-center">
              <div id="product-list">
                <div>
                  <div class="border-primary border-separate flex items-center w-full flex-col">
                    <h3 class="section-content mb-2">Delivery Date</h3>
                    <input
                      required
                      class="h-[50px] text-center border-[1px] border-primary focus:outline-none rounded-md text-[16px] w-full date-picker date-3"
                      name="properties[DeliveryDate]"
                      placeholder="* DD/MM/YYYY"
                      type="date"
                      id="date-picker"
                      data-id="{{ item.id }}"
                      value="{{ DeliveryDate }}"
                      onchange="changeCart('3')"
                    >
                  </div>
                  <div class="mb-[5px] pt-2">
                    <div class="flex items-center justify-between mb-2">
                      <p class="text-center mr-2">Shipping to someone else?</p>
                      <label class="switch">
                        <input
                          type="checkbox"
                          {% if RecipientsNumber != blank %}
                            checked
                          {% endif %}
                        >
                        <span class="slider round"></span>
                      </label>
                    </div>

                    <strong
                      class="swichBox"
                      style="
                        {% if RecipientsNumber != blank %}
                          display: block;
                          {% else %}
                          display: none
                        {% endif %};
                      "
                    >
                      <input
                        required
                        name="properties[RecipientsNumber]"
                        type="text"
                        placeholder="* Recipients Phone"
                        class="border-primary border-[1px] focus:outline-none rounded-md px-3 w-full h-[50px] text-center font-normal phone-1"
                        value="{{ RecipientsNumber }}"
                        onkeyup="changeCart('1')"
                      >
                    </strong>
                  </div>
                </div>
              </div>
              <div>
                <div class="border-primary border-separate py-4 flex items-center w-[100%] flex-1 flex-col">
                  <h3 class="section-content mb-2">Gift Message</h3>
                  <textarea
                    name="GiftMessage"
                    rows="6"
                    class=" border-[1px] border-primary focus:outline-none rounded-md px-3 w-full message-2"
                    placeholder="Type your gift message here..."
                    onkeyup="changeCart('2')"
                  >{{ GiftMessage }}</textarea>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-between px-8 py-4 border-b-[1px] border-t-[1px] border-primary">
              <h3 class="section-content">Subtotal</h3>
              <h3 class="section-content">{{ cart.total_price | money }}</h3>
            </div>
          </div>
        {% endif %}
      </div>
      <p class="block mt-3 break-all text-center">
        * Note: Please fill in all the required information in order to proceed to checkout
      </p>
      <div class="flex items-center justify-between my-10 tablet:flex-col">
        <a href="/collections/all" class="button">Continue Shopping</a>
        <div class="flex gap-10 tablet:flex-col tablet:m-3 tablet:gap-3">
          <div>
            <button name="checkout" class="button" href="" id="checkoutBtn">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
