<div class="bg-[url('/assets/images/bg-right.svg')] bg-no-repeat bg-right bg-[#FAFAFA] py-[100px] tablet:px-3">
  <div class="container m-auto border-[1px] border-secondary p-[90px] tablet:p-3">
    <div class="grid grid-cols-3 gap-10 tablet:grid-cols-1">
      <div class="col-sapn-1">
        <div>
          <div class="flex justify-start items-center text-[25px] font-title text-secondary gap-5 mb-4">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="m12 17 1-2V9.858c1.721-.447 3-2 3-3.858 0-2.206-1.794-4-4-4S8 3.794 8 6c0 1.858 1.279 3.411 3 3.858V15l1 2zM10 6c0-1.103.897-2 2-2s2 .897 2 2-.897 2-2 2-2-.897-2-2z"></path><path d="m16.267 10.563-.533 1.928C18.325 13.207 20 14.584 20 16c0 1.892-3.285 4-8 4s-8-2.108-8-4c0-1.416 1.675-2.793 4.267-3.51l-.533-1.928C4.197 11.54 2 13.623 2 16c0 3.364 4.393 6 10 6s10-2.636 10-6c0-2.377-2.197-4.46-5.733-5.437z"></path>
            </svg>
            <h4>{{ section.settings.our_shop_text }}</h4>
          </div>
          <div>
            <p class="section-content">{{ section.settings.address_text }}</p>
          </div>
        </div>
        <div>
          <div class="flex justify-start items-center text-[25px] font-title text-secondary gap-5 mb-4 mt-[60px]">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 2C6.486 2 2 6.486 2 12v4.143C2 17.167 2.897 18 4 18h1a1 1 0 0 0 1-1v-5.143a1 1 0 0 0-1-1h-.908C4.648 6.987 7.978 4 12 4s7.352 2.987 7.908 6.857H19a1 1 0 0 0-1 1V18c0 1.103-.897 2-2 2h-2v-1h-4v3h6c2.206 0 4-1.794 4-4 1.103 0 2-.833 2-1.857V12c0-5.514-4.486-10-10-10z"></path>
            </svg>
            <h4>{{ section.settings.customer_service_text }}</h4>
          </div>
          <div class="section-content">
            <p class="section-content">{{ section.settings.customer_service_details }}</p>
          </div>
        </div>
        <div>
          <div class="flex justify-start items-center text-[25px] font-title text-secondary gap-5 mb-4 mt-[60px]">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              t="1569683618210"
              viewBox="0 0 1024 1024"
              version="1.1"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs></defs><path d="M945 412H689c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h256c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zM811 548H689c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h122c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zM477.3 322.5H434c-6.2 0-11.2 5-11.2 11.2v248c0 3.6 1.7 6.9 4.6 9l148.9 108.6c5 3.6 12 2.6 15.6-2.4l25.7-35.1v-0.1c3.6-5 2.5-12-2.5-15.6l-126.7-91.6V333.7c0.1-6.2-5-11.2-11.1-11.2z"></path><path d="M804.8 673.9H747c-5.6 0-10.9 2.9-13.9 7.7-12.7 20.1-27.5 38.7-44.5 55.7-29.3 29.3-63.4 52.3-101.3 68.3-39.3 16.6-81 25-124 25-43.1 0-84.8-8.4-124-25-37.9-16-72-39-101.3-68.3s-52.3-63.4-68.3-101.3c-16.6-39.2-25-80.9-25-124 0-43.1 8.4-84.7 25-124 16-37.9 39-72 68.3-101.3 29.3-29.3 63.4-52.3 101.3-68.3 39.2-16.6 81-25 124-25 43.1 0 84.8 8.4 124 25 37.9 16 72 39 101.3 68.3 17 17 31.8 35.6 44.5 55.7 3 4.8 8.3 7.7 13.9 7.7h57.8c6.9 0 11.3-7.2 8.2-13.3-65.2-129.7-197.4-214-345-215.7-216.1-2.7-395.6 174.2-396 390.1C71.6 727.5 246.9 903 463.2 903c149.5 0 283.9-84.6 349.8-215.8 3.1-6.1-1.4-13.3-8.2-13.3z"></path>
            </svg>
            <h4>{{ section.settings.opening_hours_text }}</h4>
          </div>
          <div class="section-content">
            {{ section.settings.opening_hours_details }}
          </div>
        </div>
      </div>
      <div class="col-span-2">
        <div>
          <h2 class="section-title">{{ section.settings.get_in_touch_text }}</h2>
          <p class="section-content">
            {{ section.settings.get_in_touch_description }}
          </p>
        </div>
        <div class="mt-[40px]">
          {% form 'contact' %}
            {{ form.errors | default_errors }}

            <label class="block mb-[30px]"
              ><span class="block section-content mb-[25px]">Name</span
              ><input
                class="outline-none w-full placeholder:text-[22px] placeholder:font-title placeholder:text-secondary bg-transparent border-b-[1px] border-[#D9D9D9] py-[15px]"
                placeholder="Write your name..."
                name="name"></label
            ><label class="block mb-[30px]"
              ><span class="block section-content mb-[25px]">Email</span
              ><input
                class="outline-none w-full placeholder:text-[22px] placeholder:font-title placeholder:text-secondary bg-transparent border-b-[1px] border-[#D9D9D9] py-[15px]"
                placeholder="Write your email..."
                name="contact[name]"></label
            ><label class="block mb-[30px]"
              ><span class="block section-content mb-[25px]">Subject</span
              ><select
                class="outline-none w-full text-[22px] font-title text-secondary bg-transparent border-b-[1px] border-[#D9D9D9] py-[15px]"
                name="contact[subject]"
                id=""
              >
                <option value="">Select Your Subject</option>
                {% for block in section.blocks %}
                  <option value="{{ block.settings.subject_text }}">{{ block.settings.subject_text }}</option>
                {% endfor %}
              </select></label
            >
            <label class="block mb-[30px]">
              <span class="block section-content mb-[25px]">Tell Us More</span>
              <textarea
                class="outline-none w-full placeholder:text-[22px] placeholder:font-title placeholder:text-secondary bg-transparent border-b-[1px] border-[#D9D9D9] py-[15px]"
                placeholder="Write here..."
                name="contact[message]"
              >
              </textarea>
            </label>
            <div class="flex text-right items-end justify-end pt-5">
              <button class="button" type="submit">Submit</button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Section",
  "settings": [
    {
      "type": "text",
      "id": "our_shop_text",
      "label": "Our Shop Text",
      "default": "Our Shop"
    },
    {
      "type": "text",
      "id": "address_text",
      "label": "Address",
      "default": "371 Rue Bernard O, Montréal, QC H2V 1T6"
    },
    {
      "type": "text",
      "id": "customer_service_text",
      "label": "Customer Service Text",
      "default": "Customer Service"
    },
    {
      "type": "richtext",
      "id": "customer_service_details",
      "label": "Customer Service Details",
      "default": "<p>Email: info@auradelices.ca </p><p>Phone: 1(514)-272-2639</p>"
    },
    {
      "type": "text",
      "id": "opening_hours_text",
      "label": "Opening Hours Text",
      "default": "Opening Hours"
    },
    {
      "type": "richtext",
      "id": "opening_hours_details",
      "label": "Opening Hours Details",
      "default": "<p> Sunday 12–5 p.m.</p><p>Monday 10 a.m.–6 p.m.</p><p>Tuesday 10 a.m.–6 p.m.</p><p>Wednesday 10 a.m.–6 p.m.</p><p>Thursday 10 a.m.–9 p.m.</p><p>Friday 9:30 a.m.–2 p.m.</p><p>Saturday Closed</p>"
    },
    {
      "type": "text",
      "id": "get_in_touch_text",
      "label": "Get In Touch",
      "default": "Get In Touch"
    },
    {
      "type": "text",
      "id": "get_in_touch_description",
      "label": "Get In Touch Description",
      "default": "Doing an event, trying to match everything own to the last detail.. (including the chocolates) send us a message with your desired colors to see if we can accommodate. Dont be shy!"
    }
  ],
  "blocks": [
    {
      "name": "Form Subject",
      "type": "product",
      "settings": [
        {
          "type": "text",
          "id": "subject_text",
          "label": "Subject",
          "default": "Issue With Order"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Section",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
