<div
  class="bg-[url('https://chocolate-eight.vercel.app/assets/images/footer-bg.svg')] bg-repeat bg-center bg-[#FFF3EF] py-16 overflow-hidden"
>
  <div class="container m-auto grid grid-cols-4 gap-5 tablet:px-3 tablet:grid-cols-1">
    <div>
      <div class="">
        <img src="{{ section.settings.logo | img_url: '200x200' }}" alt="">
        <p class="text-content text-[20px] leading-[30px] font-content font-light mt-3">
          {{ section.settings.about_text }}
        </p>
      </div>
    </div>
    <div>
      <h2 class="text-[30px] font-title mb-8">{{ section.settings.help_info_text }}</h2>
      <ul class="footer-menu">
        {% for link in linklists[section.settings.help_menu].links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
    <div>
      <h2 class="text-[30px] font-title mb-8">{{ section.settings.quick_shop_text }}</h2>
      <ul class="footer-menu">
        {% for link in linklists[section.settings.quick_menu].links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
    <div>
      <h2 class="text-[30px] font-title mb-8">{{ section.settings.contact_us }}</h2>
      <ul class="footer-menu">
        <li>{{ section.settings.address }}</li>
        <li>{{ section.settings.phone }}</li>
        <li>{{ section.settings.email }}</li>
      </ul>
    </div>
  </div>
  <div class="flex gap-5 justify-center">
    <img
      src="{{ section.settings.certificate01 | img_url: '' }}"
      alt=""
      width="120px"
      height="120px"
      class=" w-[120px] h-[120px]"

    ><img
      src="{{ section.settings.certificate02 | img_url: '' }}"
      alt=""
      width="120px"
      height="120px"
      class=" w-[120px] h-[120px]"
    >
  </div>
  <div class="w-[685px] m-auto text-center pt-10 phone:px-4 phone:w-full">
    <h2 class="text-[45px] text-title phone:text-[35px]">{{ section.settings.newsletter_text }}</h2>
    <div class="relative mt-5">
      <form action="">
        <input
          class="placeholder:text-content placeholder:text-[20px] bg-transparent w-full border-transparent mt-6 border-b-2 border-b-primary p-3 focus:outline-none focus:bg-transparent active:bg-transparent autofill:bg-transparent"
          type="text"
          placeholder="Your Email"
          name="email"
        >
        <button type="submit">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 1024 1024"
            type="submit"
            class="absolute top-[50%] right-0 cursor-pointer"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
            </path>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="mt-[40px] text-center">
    <p>{{ section.settings.info_text }}</p>
  </div>
</div>

<div class="bg-[#FFE4DB] text-center py-5">
  <p class="text-[20px] capitalize font-light">{{ section.settings.copy_right_text }}</p>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "about_text",
      "label": "Footer About Text",
      "default": "Aura Delices is know as one of Montreal's leading kosher artisanal chocolate stores; a family owned business passed down from father to son"
    },
    {
      "type": "text",
      "id": "help_info_text",
      "label": "Help & Information",
      "default": "Help & Information"
    },
    {
      "type": "link_list",
      "id": "help_menu",
      "label": "Help Menu"
    },
    {
      "type": "text",
      "id": "quick_shop_text",
      "label": "Quick Shop Text",
      "default": "Quick Shop"
    },
    {
      "type": "link_list",
      "id": "quick_menu",
      "label": "Quick Menu"
    },
    {
      "type": "text",
      "id": "contact_us",
      "label": "Contact Us Text",
      "default": "Contact Us"
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address",
      "default": "Address: 371 Rue Bernard O, Montréal, QC H2V 1T6"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "Tel: 1(514)-272-2639"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "Email: info@auradelices.ca"
    },
    {
      "type": "image_picker",
      "id": "certificate01",
      "label": "Certificate 01"
    },
    {
      "type": "image_picker",
      "id": "certificate02",
      "label": "Certificate 02"
    },
    {
      "type": "text",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "default": "Subscribe To Our Newsletter"
    },
    {
      "type": "text",
      "id": "info_text",
      "label": "Info Text",
      "default": "*All wine bottles in product images are for illustration purposes only"
    },
    {
      "type": "text",
      "id": "copy_right_text",
      "label": "Copy Right Text",
      "default": "Copyright © 2022 Aura Delices. All Rights Reserved"
    }
  ],

  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
