<style>
  .blogContent h2 {
    font-size: 37px;
    margin-top: 20px;
  }

  .blogContent h3 {
    font-size: 32px;
    margin-top: 20px;
  }

  .blogContent h4 {
    font-size: 26px;
    margin-top: 20px;
  }

  .blogContent h5 {
    font-size: 22px;
    margin-top: 20px;
  }
</style>
<div class="py-[50px] bg-[#fafafa]">
  <div class="w-[70%] m-auto tablet:w-full tablet:px-[10px]">
    <div class="grid grid-cols-5 gap-5">
      <div class="col-span-4">
        <div>
          <img
            class="w-full h-[380px] object-cover rounded-[10px]"
            src="{{ article.image.src | img_url: 'large' }}"
            alt="{{ article.title }}"
          >
        </div>
        <div class="flex items-center justify-between mt-2">
          <p class="text-[14px] font-content">{{ article.tags }}</p>
          <p class="text-[14px] font-content">Written By: {{ article.author }}</p>
        </div>

        <div class="mt-10">
          <h2 class="text-[32px] font-title">{{ article.title }}</h2>
        </div>

        <div class="blogContent">
          {{ article.content }}
        </div>
      </div>
      <div class="col-span-1 tablet:hidden w-full">
        <div>
          <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
            <h2 class="text-[25px] mb-5">Tags</h2>
            <ul class="flex flex-col divide-y ">
              {%- for tag in blog.all_tags -%}
                <li class="py-2">
                  <a href="{{ blog.url }}/tagged/{{ tag }}">{{ tag }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>

        <div>
          <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
            <h2 class="text-[25px] mb-5">Related Product</h2>
            <ul class="flex flex-col divide-y ">
              {%- for tag in blog.all_tags -%}
                <li class="py-2">
                  <a href="{{ blog.url }}/tagged/{{ tag }}">{{ tag }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
