<style>
  .blogContent h1 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blogContent h2 {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blogContent h3 {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blogContent h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blogContent h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blogContent h5 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blogContent ol,
  .blogContent ul {
    list-style: inherit;
    margin-left: 20px;
    padding: 0;
  }

  .blogContent a {
    color: #ea5329;
  }
  .blogThumbnail {
    position: relative;
  }
  .thumbnailTags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #ea5329;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px 0 5px 0;
  }
</style>
{% form 'new_comment'
  , article %}
  <div class="py-[50px] bg-[#fafafa]">
    <div class="w-[70%] m-auto tablet:w-full tablet:px-[10px]">
      <div class="grid grid-cols-5 gap-5">
        <div class="col-span-4">
          <div class="mt-10 mb-10">
            <h2 class="text-[32px] font-title">{{ article.title }}</h2>
          </div>
          <div class="blogThumbnail">
            <img
              class="w-full h-[450px] object-cover rounded-[10px]"
              src="{{ article.image.src | img_url: 'large' }}"
              alt="{{ article.title }}"
              width=""
              height=""
              loading="eager">
            <p class="text-[14px] font-content thumbnailTags">{{ article.tags }}</p>
          </div>
          <div class="flex items-center justify-between mt-2">
            <p class="text-[14px] font-content">Written By: {{ article.author }}</p>
          </div>

          <div class="blogContent">
            {{ article.content }}
          </div>
        </div>
        <div class="col-span-1 tablet:hidden w-full">
          <div>
            <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
              <h2 class="text-[25px] mb-5">Tags</h2>
              <ul class="flex flex-col divide-y ">
                {%- for tag in blog.all_tags -%}
                  <li class="py-2">
                    <a href="{{ blog.url }}/tagged/{{ tag }}">{{ tag }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>

          <div>
            <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
              <h2 class="text-[25px] mb-5">Related Product</h2>
              <ul class="flex flex-col divide-y ">
                {% for product in collections[section.settings.related_collection].products limit: 5 %}
                  <li class="py-2">
                    <a href="{{ product.url }}">
                      <div class="gap-2 items-center flex justify-start">
                        <img
                          src="{{ product.featured_image | product_img_url: 'medium' }}"
                          alt=""
                          class="rounded-[5px] w-[60px] h-[60px] object-cover">
                        <div class="">
                          <h3 class="text-[13px] font-bold">{{ product.title }}</h3>
                          <p class="text-[12px]">{{ product.price | money }}</p>
                        </div>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white w-full py-10 px-5 rounded-[10px] mt-10">
        <h2 class="text-[30px] font-['Antiqua']">{{ article.comments_count }} Comments</h2>

        <div>
          {% for comment in article.comments %}

            <div class="flex gap-3 mt-5 pb-3 w-full">
              <div class="w-[40px] h-[40px] object-cover rounded-full block">
                <img
                  src="https://www.gravatar.com/avatar/{{ comment.email | md5 }}"
                  alt=""
                  class="w-[40px] h-[40px] object-cover rounded-[10px] block">
              </div>
              <div class="w-full">
                <div class="flex justify-between items-center">
                  <h2 class="text-normal !font-bold">{{ comment.author }}</h2>
                {% comment %} <div class="flex items-center gap-2">
                                                <img src="{{ 'reply.svg' |  asset_url }}" alt="">
                                                <a href="#commentForm" class="text-[13px] font-content font-light text-content !text-[#EA5329]">Reply</a>
                                </div> {% endcomment %}
                </div>
                <span class="font-content font-light text-content !text-[13px]">
                  {{- comment.created_at | date: '%a, %b %d, %Y' -}}
                </span>
                <span class="text-[15px] font-content font-light text-content">{{ comment.content }}</span>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="mt-10" id="commentForm">
          <h2 class="section-title !text-[32px]">Leave A Comment</h2>
          <p class="content !text-[18px]">Your Email Address Will Not be Published. Required Fields Are Marked*</p>

          <div class="mt-10">
            <div class="flex justify-between w-full gap-5 mb-5">
              <input
                class="border-[1px] border-secondary w-full py-3 px-3 rounded-md placeholder:text-secondary placeholder:font-light"
                type="text"
                name="comment[author]"
                placeholder="Name*">
              <input
                class="border-[1px] border-secondary w-full py-3 px-3 rounded-md placeholder:text-secondary placeholder:font-content"
                type="email"
                name="comment[email]"
                placeholder="Email*">
            </div>
            <div class="pb-3">
              <textarea
                name="comment[body]"
                id=""
                cols="30"
                rows="10"
                placeholder="Comment"
                class="w-full border-[1px] border-secondary  py-3 px-3 rounded-md placeholder:text-secondary placeholder:font-light"></textarea>
            </div>
            <div class="">
              <button type="submit" class="bg-primary py-3 px-8 rounded-lg text-white hover:bg-secondary">
                Post Comment
              </button>
            </div>
          </div>
        </div>
      </div>

      <script>
        console.log({{ article.comments | json }})
      </script>
    </div>
  </div>
{% endform %}

{% schema %}
  {
    "name": "Single Blog",
    "settings": [
      {
        "type": "collection",
        "id": "related_collection",
        "label": "Related Product"
      }
    ],

    "presets": [
      {
        "name": "Single Blog"
      }
    ]
  }
{% endschema %}