<style>
  .blogContent h1 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blogContent h2 {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blogContent h3 {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blogContent h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blogContent h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blogContent h5 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blogContent ol,
  .blogContent ul {
    list-style: inherit;
    margin-left: 20px;
    padding: 0;
  }

  .blogContent a {
    color: #ea5329;
  }
  .blogThumbnail {
    position: relative;
  }
  .thumbnailTags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #ea5329;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px 0 5px 0;
  }
  .blogContent {
    margin-bottom: 50px !important;
    margin-top: 40px !important;
  }
</style>
{% form 'new_comment'
  , article %}
  <div class="py-[50px] bg-[#fafafa]">
    <div class="w-[70%] m-auto tablet:w-full tablet:px-[10px]">
      <div class="grid grid-cols-5 gap-5">
        <div class="col-span-4">
          <div class="mt-10 mb-10">
            <h2 class="text-[32px] font-title">{{ article.title }}</h2>
          </div>
          <div class="blogThumbnail">
            <img
              class="w-full h-[450px] object-cover rounded-[10px]"
              src="{{ article.image.src | img_url: 'large' }}"
              alt="{{ article.title }}"
              width=""
              height=""
              loading="eager">
            <p class="text-[14px] font-content thumbnailTags">{{ article.tags }}</p>
          </div>
          <div class="flex items-center justify-between mt-2">
            <p class="text-[14px] font-content">Written By: {{ article.author }}</p>
          </div>

          <div class="blogContent">
            {{ article.content }}
          </div>
        </div>
        <div class="col-span-1 tablet:hidden w-full">
          <div>
            <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
              <h2 class="text-[25px] mb-5">Tags</h2>
              <ul class="flex flex-col divide-y ">
                {%- for tag in blog.all_tags -%}
                  <li class="py-2">
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>

          <div>
            <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
              <h2 class="text-[25px] mb-5">Related Product</h2>
              <ul class="flex flex-col divide-y ">
                {% for product in collections[section.settings.related_collection].products limit: 5 %}
                  <li class="py-2">
                    <a href="{{ product.url }}">
                      <div class="gap-2 items-center flex justify-start">
                        <img
                          src="{{ product.featured_image | product_img_url: 'medium' }}"
                          alt=""
                          class="rounded-[5px] w-[60px] h-[60px] object-cover">
                        <div class="">
                          <h3 class="text-[13px] font-bold">{{ product.title }}</h3>
                          <p class="text-[12px]">{{ product.price | money }}</p>
                        </div>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
{% endform %}

{% schema %}
  {
    "name": "Single Blog",
    "settings": [
      {
        "type": "collection",
        "id": "related_collection",
        "label": "Related Product"
      }
    ],

    "presets": [
      {
        "name": "Single Blog"
      }
    ]
  }
{% endschema %}